$white: #f6f6ff;
$black: #151722;
// red
$red: #e41a3c;
$lightred: #e94863;
$darkred: #b61530;
// green
$green: #316948;
$lightgreen: #5a876d;
$darkgreen: #27543a;
// blue
$blue: #126da6;
$lightblue: #418ab8;
$darkblue: #0e5785;

$gold: #e0c093;
