@use "../styles/colors";

.footer {
  display: flex;
  justify-content: space-around;
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: colors.$darkblue;
  color: colors.$white;
  text-align: center;
  a {
    color: colors.$white;
    text-decoration: none;
  }
}

.logo {
  position: relative;
  top: 2px;
  right: 5px;
}
