@use "../styles/colors";

.header {
  padding: 60px;
  text-align: center;
  background: colors.$blue;
  color: colors.$white;
  height: 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
