@use "../styles/colors";

.heroColumn {
  height: 100%;
  margin: 0;
}

.heroImage {
  display: flex;
  flex-direction: column;
  background-image: url("../public/pexels-photo-5662857.jpg");
  min-height: 10em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.heroText {
  text-align: center;
  color: white;
}

.heroHeader {

  align-self: center;
  font-size: 50px;
}
