@use "../styles/colors";
@use "../styles/fonts";

.heroColumn {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.heroImage {
  display: flex;
  flex-direction: column;
  background-image: url("../public/pexels-photo-5662857.jpg");
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.heroText {
  font-family: fonts.$quattrocento;
  text-align: center;
  color: white;
}

.heroHeader {
  font-family: fonts.$quattrocento;

  align-self: center;
  font-size: 50px;
}
