.img {
  width: 100%;
  height: auto;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: auto;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    max-width: 100vw;
  }
}
@media (min-width: 768px) {
  .parent {
    max-width: 100vw;
  }
}
@media (min-width: 1280px) {
  .parent {
    max-width: 85vw;
  }
}
@media (min-width: 1920px) {
  .parent {
    max-width: 80vw;
  }
}

.item, .item8, .item7, .item6, .item5, .item4, .item3, .item2, .item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  background: #126da6;
  color: #f6f6ff;
  font-size: 20px;
  padding: 1.5em;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-position: top;
  background-repeat: no-repeat;
}
.item1 {
  grid-area: 1/1/2/2;
}
.item1:hover {
  background-color: #126da6;
}
.item1:active {
  transform: scale(1);
}
@media (max-width: 768px) {
  .item1 {
    grid-area: 1/1/2/2;
  }
}
.item2 {
  grid-area: 1/2/2/3;
}
@media (max-width: 768px) {
  .item2 {
    grid-area: 2/1/3/2;
  }
}
.item3 {
  grid-area: 1/3/2/4;
}
@media (max-width: 768px) {
  .item3 {
    grid-area: 3/1/4/2;
  }
}
.item4 {
  grid-area: 1/4/2/5;
}
@media (max-width: 768px) {
  .item4 {
    grid-area: 4/1/5/2;
  }
}
.item5 {
  grid-area: 2/1/3/2;
}
.item5:hover {
  background-color: #418ab8;
}
.item5:active {
  transform: scale(0.995);
}
@media (max-width: 768px) {
  .item5 {
    grid-area: 5/1/6/2;
  }
}
.item6 {
  grid-area: 2/2/3/3;
}
.item6:hover {
  background-color: #418ab8;
}
.item6:active {
  transform: scale(0.995);
}
@media (max-width: 768px) {
  .item6 {
    grid-area: 6/1/7/2;
  }
}
.item7 {
  grid-area: 2/3/3/4;
}
.item7:hover {
  background-color: #418ab8;
}
.item7:active {
  transform: scale(0.995);
}
@media (max-width: 768px) {
  .item7 {
    grid-area: 7/1/8/2;
  }
}
.item8 {
  grid-area: 2/4/3/5;
}
.item8:hover {
  background-color: #418ab8;
}
.item8:active {
  transform: scale(0.995);
}
@media (max-width: 768px) {
  .item8 {
    grid-area: 8/1/9/2;
  }
}
.item p, .item1 p, .item2 p, .item3 p, .item4 p, .item5 p, .item6 p, .item7 p, .item8 p {
  text-decoration: none;
  color: #f6f6ff;
}
.item ul, .item1 ul, .item2 ul, .item3 ul, .item4 ul, .item5 ul, .item6 ul, .item7 ul, .item8 ul {
  text-decoration: none;
  list-style-type: none;
}
.item a, .item1 a, .item2 a, .item3 a, .item4 a, .item5 a, .item6 a, .item7 a, .item8 a {
  text-decoration: none;
  color: #f6f6ff;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  border-radius: 0;
}
.input-container input {
  border: 3px solid transparent;
  width: 100%;
  max-width: 560px;
  height: 40px;
  color: #126da6;
}
.input-container input:focus {
  outline: none;
  border: 3px solid #e0c093;
}
.input-container button {
  background-color: #418ab8;
  color: #f6f6ff;
  border: 2px solid transparent;
  height: 47px;
  width: 100px;
  margin-left: 2px;
}
.input-container button:hover {
  border: 3px solid #e0c093;
}
.input-container button:active {
  transform: scale(0.98);
}/*# sourceMappingURL=InfoPage.module.css.map */