@use "../styles/colors";

.img {
  width: 100%;
  height: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$blue;
  color: colors.$white;
  font-size: 20px;
  padding: 1em;
  flex-direction: column;
  height: 100%;
  &:hover {
    background-color: colors.$lightblue;
  }
  &:active {
    transform: scale(0.995);
  }
}
