@use "../styles/colors";
@import "~bootstrap/scss/bootstrap";

.responsive{
  width: 100%;
  max-width: 100vw;
  height: auto;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 20em;
  height: 40em;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 1s;
  border-radius: 10px;
}

.title{
  min-height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 3px 16px;
}
