@use "./colors";
@use "./variables";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: variables.$base-margin;
  button {
    margin-left: calc(variables.$base-margin/2);
    margin-right: calc(variables.$base-margin/2);
    background-color: colors.$blue;
    color: colors.$white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color variables.$base-transition-time;
    border: none;
    box-shadow: variables.$base-box-shadow;
    &:hover {
      &:not(.active) {
        background-color: colors.$lightblue;
        color: colors.$gold;
      }
    }
  }
  button.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
  }
  p {
    color: colors.$blue;
    width: 10rem;
    text-align: center;
  }
}
