@use "./colors";
@use "./grid";

.container {
  @extend .grid-container;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 800px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.item {
  // carousel
  &0 {
    @extend .grid-item--non-clickable;
    grid-area: 1/1/3/2;
    padding-left: calc(11vw);
    padding-right: calc(11vw);

    @media (max-width: 768px) {
      display: none;
    }
  }
  // search
  &1 {
    @extend .grid-item--non-clickable;
    grid-area: 1/2/2/3;
    @media (max-width: 768px) {
      grid-area: 1/1/2/2;
    }
  }
  &2 {
    @extend .grid-item--clickable;
    grid-area: 2/2/3/3;
    @media (max-width: 768px) {
      grid-area: 2/1/3/2;
    }
  }
}
