@use "../styles/colors";

.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 100vw;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 85vw;
  }
  @media (min-width: 1920px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70vw;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$white;
  color: steelblue;
  font-size: 20px;
  font-size: 1.5rem;
}

.btn {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: colors.$blue;
  border: skyblue;
  &:hover {
    background-color: colors.$lightblue;
    color: #fff;
  }
  &:active {
    transform: scale(0.995);
  }
  &--tvshow {
    @extend .btn;
    background: colors.$green;
    &:hover {
      background: colors.$lightgreen;
    }
  }
}

.btn-selected {
  @extend .btn;
  background-color: colors.$darkblue;
  text-transform: uppercase;
  &--tvshow {
    @extend .btn-selected;
    background: colors.$darkgreen;
  }
}
