.img{
 width:100%;  
 height: auto;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 1em;
    border: skyblue 1px solid;
    flex-direction: column;
    height: 100%;
}

